body {
  font-family: arial;
  background-color: #1c1e1d;
  margin: 0 7px;
  overflow: auto
}
div {
  width: 690px
}
ul {
  list-style: none;
  padding: 0 0 7px 0;
  margin: 0 10px 0 0;
  float: left
}
ul:last-child {
  margin-right: 0
}
li {
  text-indent: 22px;
  font-size: 12px;
  width: 100%;
  color: #999;
  line-height: 18px;
  padding: 1px;
  margin: 1px;
  background-position: 3px 2px;
  background-repeat: no-repeat;
  -webkit-user-select: none
}
li:first-child:hover {
  cursor: none
}
li:hover {
  cursor: pointer;
  color: #fff
}
h2 {
  text-indent: 3px;
  letter-spacing: 0.7px;
  font-size: 13px;
  padding: 7px 0 5px;
  margin: 0;
  color: #fff
}
li.newtab {
  background-image: url(img/new-tab.png)
}
li.activated {
  background-color: #212b2c;
  border: 1px solid #5a5b56;
  border-radius: 2px;
  margin: -1px 0
}
#view-css {
  background-image: url(img/view-css.png)
}
#reload-css {
  background-image: url(img/reload-css.png)
}
#disable-css {
  background-image: url(img/disable-css.png)
}
#view-scripts {
  background-image: url(img/view-scripts.png)
}
#show-passwords {
  background-image: url(img/show-passwords.png)
}
#clear-radio-buttons {
  background-image: url(img/clear-radio-buttons.png)
}
#select-tags-to-text-inputs {
  background-image: url(img/select-tags-to-text-inputs.png)
}
#remove-maxlength {
  background-image: url(img/remove-maxlength.png)
}
#convert-gets-to-posts {
  background-image: url(img/convert-gets-to-posts.png)
}
#convert-posts-to-gets {
  background-image: url(img/convert-posts-to-gets.png)
}
#view-img-details {
  background-image: url(img/view-img-details.png)
}
#hide-img {
  background-image: url(img/hide-img.png)
}
#show-img-alt-text, #show-img-dimensions, #show-img-paths {
  background-image: url(img/note.png)
}
#view-source, #view-selection-source {
  background-image: url(img/view-source.png)
}
#view-generated-source {
  background-image: url(img/view-generated-source.png)
}
#color-picker {
  background-image: url(img/color-picker.png)
}
#display-ruler {
  background-image: url(img/display-ruler.png)
}
#topographic-view {
  background-image: url(img/topographic-view.png)
}
#options {
  background-image: url(img/options.png)
}