* {
  cursor: crosshair !important
}
#pendule-color-picker-infobox {
  z-index: 100000 !important;
  position: fixed !important;
  width: 123px !important;
  height: 30px !important;
  background-color: rgba(0,0,0,.8) !important;
  border: 1px solid #fff !important;
  -webkit-box-shadow: #444 0 0 8px !important;
  border-radius: 2px !important;
  bottom: 7px !important;
  right: 7px !important;
  padding: 3px !important;
  opacity: 0 !important;
  -webkit-transition: opacity 0.5s linear
}
#pendule-color-picker-infobox.visible {
  opacity: 1 !important;
}
#pendule-color-picker-color {
  float: left !important;
  width: 26px !important;
  height: 26px !important;
  background-color: #fff !important;
  border: 1px solid #000 !important;
  margin: 1px !important
}
#pendule-color-picker-rgb {
  color: #fff !important;
  font: menu !important;
  margin: 2px 0 1px 34px !important;
  text-align: center !important;
  width: auto !important
}
#pendule-color-picker-hex {
  color: #fff !important;
  font: menu !important;
  margin-left: 34px !important;
  text-align: center !important;
  width: auto !important
}